link(rel="stylesheet" href=fcircleCss  media="defer" onload="this.media='all'")
#friend_link_circle
script.
  requests_url = '!{requests_url}';
  maxnumber = !{maxnumber};
  addnumber = !{addnumber};
  nofollow = !{nofollow};
  opentype = '!{opentype}';
  preload = '!{preload}';
  error_img = '!{error_img}';
script(async data-pjax src=fcircleJs)
